.cate_card{
  margin-bottom: 15px;
  :global{
    .ant-card-head{
      min-height: auto;
      padding: 0 16px;
      background-color: #FAFAFA;
    }
    .ant-card-body{
      display: flex;
    }
  }
}

.card_grid{

  padding: 16px;
  flex: 1;
  font-size: 12px;
}
.card_grid:hover{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.card_grid_title{
  // font-weight: bold;
}
.card_grid_row{
  line-height: 30px;
  align-items: center;
}