<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
    <!-- HD方案需要更改meta viewport -->
    <!-- <meta name="viewport" content="width=device-width,initial-scale=0.5,maximum-scale=0.5,minimum-scale=0.5,user-scalable=no"> -->
    <link rel="icon" type="image/x-icon" href="./favicon.ico" />
    <!-- 搜配项目图标 -->
    <link href="//at.alicdn.com/t/font_241505_2dksp0mar3x.css" rel="stylesheet" type="text/css" />
    <!-- sopei_category 搜配品类图标 -->
    <link href="//at.alicdn.com/t/font_929695_xlycqixqkmm.css" rel="stylesheet" type="text/css" />
    <title>搜配-审核后台</title>
</head>

<body>
    <div id="root"></div>
    <script src="./js/jquery-3.3.1.min.js"></script>
</body>

</html>

