.factoryCategoryList {
    :global {
        .ant-table-wrapper {
            // margin-top: -2px;
            margin-top: 0;
            border-top: 0;
        }
        .factorycode-category-nobody .ant-table-placeholder {
            display: none;
        }
        .ant-table-title {
            background-color: #f1f1f1;
        }
    }
}
.btn{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0;
    margin-top: 30px;
}
.datepick{
    margin-top: 20px;
    margin-bottom: 20px;
}
.card{
    margin-top: 20px;
}